*{ margin: 0; padding: 0; }
ul{ list-style-type: none; }
a{ text-decoration: none; }
.bgshade{
	width: 100%;
	height: 100%;
	position: absolute;
}
body{ position: relative; z-index: -999; min-width: 1300px;}

header{
	width: 100%;
	height: 56px;
	background: #fff;
}
header .logo{
	display: inline-block;
	width: 105px;
	height: 100%;
	color: #393a3a;
	font-size: 21px;
	font-family: 黑体;
	background: url("./image/logo.png") no-repeat 0 10px;
	background-size: 31px 31px;
	text-align: right;
	margin-left: 4%;
	line-height: 55px;
}
header .nav{
	float: right;
	height: 100%;
	margin-right: 4%;
	position: relative;
}
header .nav li{
	width: 90px;
	height: 100%;
	/*margin-left: 25px;*/
	float: left;
	box-sizing: border-box;
}
header .nav .move{
	border-bottom: 5px solid #e74f4d;
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	transition: all 0.5s ease;
}
header .nav li:nth-child(1):hover~.move{ left: 0; }
header .nav li:nth-child(2):hover~.move{ left: 90px; }
header .nav li:nth-child(3):hover~.move{ left: 180px; }
header .nav li:nth-child(4):hover~.move{ left: 270px; }
header .nav li:nth-child(5):hover~.move{ left: 360px; }
header .nav li:nth-child(6):hover~.move{ left: 450px; }
header .nav .homeborder{
	border-bottom: 5px solid #e74f4d;
}
header .nav li a{
	color: #787b83;
	font-family: 微软雅黑;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
header .nav li a:hover{
	color: #e74f4d;
}
header .nav li .homecolor{
	color: #e74f4d;
}
header .nav li .loginbg{
	background: url("./image/login.png") no-repeat 0 16px;
}

.banner{
	width: 100%;
	height: 690px;
	position: relative;
}
.banner img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.banner .bgshade{
	background: #000;
	opacity: 0.2;
}
.banner .bantxt{
	width: 465px;
	position: absolute;
	top: 50%;
	margin: -135px 0 0 115px;
	font-family: 微软雅黑;
	color: #fff;
}
.banner .bantxt h2{
	font-size: 60px;
	font-weight: normal;
	line-height: 86px;
}
.banner .bantxt p{
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 65px;
}
.banner .bantxt a{
	display: block;
	width: 330px;
	height: 65px;
	background: #e7504d;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 65px;
}
.product{
	width: 100%;
	height: 250px;
	background: #fff;
}
.product ul{
	width: 100%;
}
.product ul li{
	width: 25%;
	text-align: center;
	float: left;
}
.product ul li img{
	margin: 45px 0;
}
.product ul li p{
	font-family: 黑体;
	font-size: 14px;
	color: #767777;
	padding-bottom: 15px;
}
.product ul li + li p{
	border-left: 2px solid #bbb;
}
.youdontno{
	width: 100%;
	height: 360px;
	background: #ececec;
	text-align: center;
}
.youdontno img{
	margin: 90px 0 40px 0;
}
.youdontno p{
	font-family: 黑体;
	font-size: 54px;
	color: #323333;
	opacity: 0.5;
}
.city{
	width: 100%;
	height: 290px;
	background: url("./image/city_bg.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: relative;
	z-index: -2;
	text-align: center;
	padding-top: 50px;
}
.city .bgshade{
	background: #aa3432;
	opacity: 0.2;
	z-index: -1;
	top: 0;
}
.city h2{
	font-family: 微软雅黑;
	color: #fff;
	font-size: 21px;
	font-weight: normal;
}
.city hr{
	width: 30px;
	height: 2px;
	background: #fff;
	border: none;
	margin: 10px auto 18px auto;
}
.city p{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #fff;
	margin-bottom: 45px;
}
/*.city select{
	width: 230px;
	height: 36px;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #a8aaaa;
	padding-left: 6px;
}
.city select option{
	color: #323333;
	font-size: 12px;
}*/
.city input{
	width: 240px;
	height: 40px;
	background: #be4f48;
	border: none;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #fff;
	word-spacing: 20px;
	outline: none;
}
.city .selectbox{

}
.city .select{
	width: 226px;
	height: 36px;
	display: inline-block;
	text-align: left;
	font-family: 微软雅黑;
	padding-left: 10px;
	margin-right: 3%;
	vertical-align: top;
	background: url("./image/select.png") #fff no-repeat center right 10px;
	cursor: pointer;
	outline: none;
	border: 2px solid rgba(0,0,0,0);
}
.city .select:focus{
	border: 2px solid #be4e48;
}
.city .select:focus > ul{
	display: block;
}
.city .select ul{
	margin-left: -12px;
	width: 240px;
	display: none;
	border: 2px solid #be4e48;
	box-sizing: border-box;
}
.city .select ul li{
	height: 25px;
	font-size: 12px;
	background-color: #e3e2e4;
	color: rgba(50,51,51,0.7);
	line-height: 25px;
	padding-left: 30px;
}
.city .select ul li:last-child{ padding-bottom: 10px; }
.city .select ul li:hover{
	color: #fff;
	background: url("./image/option.png") #be4e48 no-repeat 8px 7px;
}
.city .select::before{
	content: attr(selected);
	line-height: 36px;
	font-size: 12px;
	color: #a8aaaa;
}
.activity{
	width: 100%;
	height: 605px;
	background: #f8f8f8;
	text-align: center;
	position: relative;
	z-index: -3;
}
.activity ul li{
	width: 220px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 100px 2% 0 2%;
}
.activity ul li div{
	width: 220px;
	height: 337px;
	border: 1px solid #dadada;
	text-align: center;
	border-bottom: none;
	background: #fff;
}
.activity ul li div img{
	width: 90%;
	height: 90%;
	margin-top: 7%;
}
.activity ul li p{
	font-family: 黑体;
	font-size: 16px;
	color: #313233;
	line-height: 30px;
	margin-top: 5px;
}
.activity ul li span{
	font-family: 黑体;
	font-size: 12px;
	color: #9f9f9f;
}
.activity ul li:nth-child(2) p{
	font-size: 24px;
	margin: 0;
	line-height: 26px;
	word-spacing: 24px;
}
.activity ul li:nth-child(2) div{
	border: 1px solid #dadada;
	margin-top: 7px;
}
.time{
	width: 100%;
	height: 565px;
	display:-webkit-box;
}
.time .time-left{
	-webkit-box-flex:2;
	width: 66.6%;
	height: 435px;
	background: url("./image/time-bg.png") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	color: #fff;
	font-family: 微软雅黑;
	padding-top: 130px;
/*	float: left;*/
	
}
.time .time-left p:nth-child(1){
	font-size: 50px;
}
.time .time-left p:nth-child(2){
	font-size: 158px;
	line-height: 120px;
}
.time .time-left p:nth-child(3){
	font-size: 22px;
	width: 175px;
	text-align: left;
	margin: 30px auto;
	line-height: 40px;
}
.time .time-right{
	-webkit-box-flex:1;
	width: 33.3%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}
.time .time-right .txt{
	width: 66.6%;
	margin: 0 auto;
	padding-top: 160px;
	display: none;
}
.time .time-right .txt h2{
	font-size: 20px;
	font-family: 微软雅黑;
	color: #323333;
	font-weight: normal;
}
.time .time-right .txt h2 span{
	color: #e7504d;
}
.time .time-right .txt p{
	font-size: 12px;
	color: #aaa;
	line-height: 32px;
	text-align: left;
	margin:  18px 0 40px 0;
}
.time .time-right .more{
	display: block;
	width: 103px;
	height: 31px;
	border: 1px solid #e46669;
	color: #e46669;
	font-family: 微软雅黑;
	font-size: 12px;
	line-height: 31px;
	margin: 0 auto 25px auto;
}
.time .time-right input{
	position: relative;
	top: 450px;
	left: 7px;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}
.time .time-right label{
	width: 10px;
	height: 10px;
	border: 1px solid #919192;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 450px;
	left: -6px;
	z-index: 1;
}
.time .time-right input:checked~.txt1,.txt2,.txt3{ display: none; }
.time .time-right input:nth-of-type(1):checked~.txt1{ display: block; }
.time .time-right input:nth-of-type(2):checked~.txt2{ display: block; }
.time .time-right input:nth-of-type(3):checked~.txt3{ display: block; }
.time .time-right input:nth-of-type(1):checked~label:nth-of-type(1){ background: #919192; }
.time .time-right input:nth-of-type(2):checked~label:nth-of-type(2){ background: #919192; }
.time .time-right input:nth-of-type(3):checked~label:nth-of-type(3){ background: #919192; }
.time .time-right .arrow{
	display: block;
	width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 28px solid white;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -15px;
}
.seemore{
	width: 100%;
	height: 520px;
	display: -webkit-box;
}
.seemore div{
	-webkit-box-flex: 1;
	text-align: center;
	width: 33.3%;
	height: 100%;
}
.seemore div:nth-child(1){ background: #e7504d; }
.seemore div p{
	font-family: 黑体;
	font-size: 21px;
	color: #fff;
	line-height: 30px;
	margin-top: 170px;
}
.seemore div hr{
	width: 35px;
	height: 3px;
	background: #fff;
	border: none;
	margin: 24px auto;
}
.seemore div a{
	display: inline-block;
	width: 167px;
	height: 41px;
	border: 1px solid #fff;
	font-family: 黑体;
	font-size: 21px;
	color: #fff;
	line-height: 41px;
}
.seemore div:nth-child(2) p{
	color: #000;
}
.seemore div:nth-child(2) hr{
	background: #abaaaa;
}
.seemore div:nth-child(2) a{
	border: 1px solid #e7504d;
	color: #e7504d;
}
.seemore div:nth-child(3){ 
	background: url("./image/seemore_bg.png") no-repeat; 
	background-size: 100% 100%;
	position: relative;
}
.seemore div:nth-child(3) .shade{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4); 
}
.seemore div:nth-child(3) .arrow{
	display: block;
	width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 28px solid white;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}
.join-us{
	width: 80%;
	height: 750px;
	padding: 0 10%;
	text-align: center;
}
.join-us .tit{
	width: 100%;
	height: 185px;
	text-align: center;
	padding-top: 115px;
}
.join-us .tit h2{
	font-family: 黑体;
	font-size: 21px;
	color: #323333;
	font-weight: normal;
}
.join-us .tit hr{
	width: 30px;
	height: 2px;
	background: #ea6563;
	border: none;
	margin: 8px auto 12px auto;
}
.join-us .tit p{
	font-family: 微软雅黑;
	font-size: 12px;
	color: #aaa;
	line-height: 18px;
}
.join-us .clause{
	display: inline-block;
	margin-right: 70px;
	text-align: left;
}
.join-us .clause li{ 
	width: 290px; 
	margin-bottom: 35px;
	overflow: hidden;
}
.join-us .clause li + li{ 
	margin-bottom: 15px;
}
.join-us .clause li h2{
	font-family: 黑体;
	font-size: 14px;
	color: #231815;
	font-weight: normal;
}
.join-us .clause li p{
	font-size: 12px;
	color: #231815;
	opacity: 0.6;
	margin: 25px 0 0px 0;
	line-height: 20px;
}
.join-us .clause li a{
	font-size: 12px;
	color: #231815;
	opacity: 0.6;
	float: right;
	margin-top: 10px;
}
.join-us form{
	width: 670px;
	display: inline-block;
	vertical-align: top;
}
.join-us form input{
	width: 295px;
	height: 40px;
	background: #ececee;
	border: 1px solid #ececee;
	padding-left: 15px;
	margin: 0 10px 15px 0;
	outline: none;
}
.join-us form input::-webkit-input-placeholder,
.join-us form textarea::-webkit-input-placeholder{ 
	color: rgba(35,24,21,0.5); 
}
.join-us form textarea{
	width: 625px;
	height: 110px;
	background: #ececee;
	border: 1px solid #ececee;
	padding: 10px 0 0 15px;
	margin: 0 0 10px -10px;
	outline: none;
	resize: none;
}
.join-us form input[type=submit]{
	width: 642px;
	height: 40px;
	color: #323333;
	font-family: 黑体;
	font-size: 14px;
}
.join-us form input:focus,.join-us form textarea:focus{
	background: #fff;
}
.contact-us{
	width: 100%;
	height: 267px;
	background: #32363e;
	text-align: center;
	padding-top: 90px;
}
.contact-us h2{
	font-family: 黑体;
	color: #fff;
	font-size: 21px;
	font-weight: normal;
}
.contact-us p{
	font-size: 12px;
	color: #fff;
	margin: 10px 0 30px 0;
	line-height: 20px;
}
.contact-us form input[type=text]{
	width: 422px;
	height: 40px;
	padding-left: 8px;
	outline: none;
}
.contact-us form input[type=text]::-webkit-input-placeholder{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #aaa;
	line-height: 15px;
}
.contact-us form input[type=submit]{
	width: 80px;
	height: 44px;
	background: rgba(255,255,255,0.3);
	color: #fff;
	border: none;
	font-size: 15px;
	font-family: 微软雅黑;
	margin-left: -8px;
	vertical-align: bottom;
	outline: none;
}
.contact-us img + img{
	margin: 35px 0 0 25px;
}
footer{
	width: 100%;
	height: 57px;
	background: #2f2f38;
	overflow: hidden;
}
footer p{
	color: #fff;
	font-size: 12px;
	display: inline-block;
	line-height: 70px;
	margin-left: 12%;
}
footer a{
	color: #fff;
	font-size: 12px;
	float: right;
	line-height: 75px;
	margin-right: 3%;
}