*{ margin: 0; padding: 0; }
a{ text-decoration: none; }
li{
	list-style: none;
}
.clearflx:after{
	content: "";
	clear: both;
	display: block;
}
body{  }
header{
	width: 100%;
	height: 56px;
	background: #2189bf;
	min-width: 1280px;
}
header .logo{
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url("./images/logo.png") no-repeat;
	margin: 10px 0 0 50px;
}
header .login{
	float: right;
	display: inline-block;
	width: 45px;
	height: 16px;
	color: #fff;
	font-size: 12px;
	font-family: 微软雅黑;
	letter-spacing: 2px;
	background: url("./images/login.png") no-repeat;
	box-sizing: border-box;
	padding-left: 17px;
	margin: 20px 93px 0 20px;
}
header form{
	float: right;
	margin-top: 14px;
}
header form input{
	width: 312px;
	height: 28px;
	border: none;
	border-radius: 20px;
	outline: none;
	background: #fff url("./images/search.png") no-repeat 15px center; 
	box-sizing: border-box;
	padding-left: 40px;
}
.wrap{
	width: 100%;
	overflow: hidden;
	background: #000;
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 1280px;
}
/*sidebar*/
.sidebar{
	width: 260px;
	height: 100%;
	background: #2a2e3d;
	float: left;
	box-sizing: border-box;
	position: relative;
}
.sidebar .user-face{
	height: 150px;
	text-align: center;
}
.sidebar .user-face .face{
	width: 56px;
	height: 56px;
	border: 1px solid #b9babd;
	border-radius: 50%;
	display: inline-block;
	margin: 17px 10px 0 -35px;
}
.sidebar .user-face .face b{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #b9babd;
	display: block;
	margin: 3px 0 0 3px;
}
.sidebar .user-face a{
	font-size: 16px;
	font-family: 黑体;
	color: #fff;
	vertical-align: top;
	line-height: 90px;
}
.user-face .user-info{

}
.user-face .user-info li{
	display: inline-block;
	color: #6e8095;
	font-family: 黑体;
}
.user-face .user-info .collect{
	padding-right: 37px;
	border-right: 2px solid #313545;
}
.user-face .user-info .fans{
	padding-left: 30px;
}
.user-face .user-info li span{
	font-size: 12px;
	font-family: 宋体;
}
.user-menu{
	position: absolute;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
}
.user-menu::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
.user-menu::-webkit-scrollbar {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
	width: 10px;
}
.user-menu .menu-list{
	font-family: 黑体;
	font-size: 12px;
	color: #6e8095;
	padding-left: 43px;
	line-height: 28px;
	margin-bottom: 10px;
}
.user-menu dt,.user-menu dd{
	cursor: pointer;
}
.user-menu .active{
	color: #ededef;
}
.user-menu .activebg{
	background: #383d4e;
}
.user-menu .menu-list dd{
	padding-left: 20px;
}
.user-menu .menu-list .subtable dd{
	padding-left: 46px;
}
.user-menu .menu-list dt{
	padding: 5px 0;
}
.user-menu .menu-list b{
	width: 18px;
	height: 14px;
	display: inline-block;
	opacity: 0.5;
	background: url("images/sprite.png") no-repeat;
}
.user-menu .active b{
	opacity: 1;
}
.user-menu .active .icon-arrow{
	transform: rotate(90deg);
}
.user-menu .menu-list .icon-table{
	background-position: -7px -11px;
}
.user-menu .menu-list .icon-arrow{
	background-position: -7px -528px;
	transition: all 0.2s ease;
}
.user-menu .menu-list:hover{
	background: #383d4e;
}
.user-menu .menu-list dt:hover .icon-arrow{
	transform: rotate(90deg);
}
.user-menu .menu-list dt:hover b,.user-menu .menu-list dd:hover b{
	opacity: 1;
}
.user-menu .menu-list dt:hover,.user-menu .menu-list dd:hover{
	color: #ededef;
}
.user-menu .menu-list .icon-doc{
	background-position: -7px -52px;
}
.user-menu .menu-list .icon-text{
	background-position: -7px -93px;
}
.user-menu .menu-list .icon-star{
	background-position: -7px -133px;
}
.user-menu .menu-list .icon-pos{
	background-position: -7px -170px;
}
.user-menu .menu-list .icon-book{
	background-position: -7px -212px;
}

/*main*/
.main{
	height: 100%;
	overflow: hidden;
	position: relative;
}
.main-title{
	height: 30px;
	background: #fff;
	line-height: 30px;
	font-size: 12px;
	font-family: 黑体;
	color: #aaa;
	padding-left: 25px;
}
.main-title a{
	color: #aaa;
	margin-right: 10px;
}
.main-title a:nth-of-type(4){
	color: #6898c2;
}
.main-title a:hover{
	color: #6898c2;
}
.main-cont{
	position: absolute;
	top: 30px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	background: #eeeeed;
	padding: 20px 60px;
	box-sizing: border-box;
}

/*查询*/
.search{
	height: 85px;
	background: #fff;
	border: 1px solid #dcdee0;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 黑体;
	margin-bottom: 8px;
}
.search .queryitem{
	width: 20%;
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
}
.search span{
	color: #aaa;
}
.search .selectbox{
	width: 68px;
	height: 23px;
	border: 1px solid #c3c3c4;
	line-height: 23px;
	padding-left: 10px;
	/*box-sizing: border-box;*/
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.search .selectbox span{
	color: #323333;
}
.search .icon-select{
	background: url("images/sprite.png") no-repeat;
	width: 18px;
    height: 18px;
    background-position: -7px -587px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 3px;
}
.search .business{
	display: inline-block;
	width: 25%;
	height: 55px;
	position: relative;
	vertical-align: top;
}
.search .business .cont{
	margin-bottom: 5px;
}
.search .business .selectbox{
	width: 120px;
}
.search .business .icon-change{
	width: 39px;
	height: 63px;
	background: url("images/sprite.png") no-repeat;
	display: block;
	position: absolute;
	left: 165px;
	top: 0;
	background-position: -5px -914px;
	color: #fff;
	line-height: 58px;
	text-align: center;
}
.busi-info{
	width: 40%;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}
.busi-info .business{
	width: 100%;
}
.busi-info .business .cont{
	display: inline-block;
	margin-right: 10px;
}
.busi-info .business .cont:nth-of-type(2) .selectbox,
.busi-info .business .cont:nth-of-type(3) .selectbox{
	width: 70px;
}
.search input[type='submit']{
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: none;
	background: #388ac1;
	color: #fff;
	font-size: 12px;
	font-family: 黑体;
	margin-top: 15px;
}

/*历史查询*/
.history{
	height: 65px;
}
.history .nextbtn{
	width: 30px;
	height: 100%;
	display: block;
	box-shadow: -1px -1px 0px #ccc;
	margin-left: 1px;
	background: url("images/sprite.png") no-repeat;
	background-color: #fff;
}
.history .last{
	background-position: 0px -264px;
	float: left;
}
.history .next{
	background-position: 1px -342px;
	margin-right: 10px;
	float: right;
}
.history .price{
	height: 100%;
	margin: 0 160px 0 45px;
	display: block;
}
.history .price li{
	width: 15.6%;
	height: 100%;
	box-shadow: -1px -1px 0px #ccc;
	display: inline-block;
	background: #fff;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	font-family: 微软雅黑;
	padding-top: 3px;
	border-top: 4px solid #fff;
	transition: all 0.2s ease;
	cursor: pointer;
	margin-left: -2px;
}
.history .price li:hover{
	border-color: #4388c9;
}
.history .price li:nth-of-type(1){
	border-top: 4px solid #4388c9;
}
.history .price li span{
	font-size: 12px;
	color: #323333;	
	line-height: 24px;
}
.history .price li p{
	color: #b1b1b0;
}
.history .price li p em{
	font-size: 21px;
	color: #ec6500;
	font-style: normal;	
}
.history .history-q{
	width: 135px;
	height: 100%;
	background: #fff;
	display: block;
	vertical-align: text-top;
	box-shadow: -1px -1px 0px #ccc;
	box-sizing: border-box;
	margin: -1px 0 0 -2px;
	line-height: 65px;
	float: right;
	cursor: pointer;
}
.history .history-q .icon-data{
	width: 34px;
    height: 34px;
	background: url("images/sprite.png") no-repeat;
	background-position: -2px -447px;
	display: inline-block;
	margin: 15px 0 0 20px;
}
.history .history-q span{
	color: #535353;
	font-size: 12px;
	font-family: 微软雅黑;
	vertical-align: top;
}

/*统计*/
.count{
	margin: 15px 0 13px 0;
}
.count h3{
	font-size: 12px;
	font-family: 微软雅黑;
	color: #323333;
	font-weight: normal;
	line-height: 28px;
}
.count .count-item{
	width: 22%;
	height: 71px;
	background: #fff;
	float: left;
	box-shadow: 0px 0px 3px #999;
	box-sizing: border-box;
	border-radius: 2px;
	font-size: 12px;
	font-family: 黑体;
	padding-left: 1%;
	position: relative;
	border-left: 4px solid #43b29e;
}
.count .count-item + .count-item{
	margin-left: 4%;
}
.count .count-item:nth-of-type(2){
	border-left: 4px solid #388ac1;
}
.count .count-item:nth-of-type(3){
	border-left: 4px solid #cf4a36;
}
.count .count-item:nth-of-type(4){
	border-left: 4px solid #e2cd46;
}
.count .count-item .deal{
	color: #323333;
	margin: 19px 0 9px 0;
}
.count .count-item span{
	transform: scale(0.8,0.8);
	display: inline-block;
	color: #aaa;
	margin-left: -3px;
}
.count .count-item .bgcolor{
	width: 61px;
	height: 47px;
	background: #43b29d;
	position: absolute;
	top: 12px;
	right: 6%;
}
.count .count-item:nth-of-type(2) .bgcolor{
	background: #388ac1;
}
.count .count-item:nth-of-type(3) .bgcolor{
	background: #cf4a36;
}
.count .count-item:nth-of-type(4) .bgcolor{
	background: #e2cd46;
}

/*项目*/
.project{
	height: 357px;
	margin-bottom: 8px;
}
.project .project-table{
	width: 59%;
	height: 357px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	float: left;
	margin-right: 1%;
	box-sizing: border-box;
}
.project-tit{
	background: #f4f5f6;
	height: 41px;
	padding-left: 20px;
	font-size: 12px;
	font-family: 黑体;
	color: #aaa;
	font-weight: normal;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e7e8eb;
	line-height: 41px;
}
.project-table .table-main{
	height: 313px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 3%;
	box-sizing: border-box;
}
.project-table .table-main .table-option{
	height: 28px;
}
.project-table .table-main .table-option li{
	width: 16%;
	height: 28px;
	border-bottom: 1px solid #cbcbcc;
	background: #ededf0;
	float: left;
	margin-right: 1%;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}
.project-table .table-main .table-option li:nth-of-type(1){
	border: 1px solid #cbcbcc;
	border-bottom: 1px solid #fff;
	background: #fff;
}
.project-table .table-main .table-box{
	padding: 5%;
	height: 250px;
	border: 1px solid #cbcbcc;
	box-sizing: border-box;
	margin: -1px 0 0 0;
	border-radius: 0 5px 5px 5px;
}
.table-box table{
	width: 100%;
	border-collapse: collapse;
}
.table-box table td{
	font-size: 12px;
	color: #535353;
	border: 1px solid #ddd;
	height: 28px;
	width: 25%;
	padding-left: 6%;
}
.table-box table tr:nth-of-type(1) td:nth-of-type(1){
	background: #f4f5f7;
}
.project .project-search{
	width: 40%;
	height: 357px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	float: left;
	box-sizing: border-box;
}
.project-search .search-info{
	height: 313px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	padding: 14px 10% 0 10%;
	font-size: 12px;
	font-family: 微软雅黑;
	position: relative;
}
.project-search .search-info h4{
	color: #c3c2c2;
	font-weight: normal;
	line-height: 20px;
}
.project-search .search-info p{
	color: #535353;
	line-height: 20px;
}
.project-search .search-info .tit,
.project-search .search-info .tit-info{
	padding-left: 3.5%;
}
.project-search .search-info ul{
	height: 43px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	margin: 5px 0 0 0;
}
.project-search .search-info ul li{
	height: 100%;
	float: left;
	padding-left: 3.5%;
}
.project-search .search-info ul li:nth-of-type(1){
	width: 34%;
	border-right: 1px solid #e8e8e8;
}
.project-search .search-info form{
	width: 80%;
	height: 35px;
	position: absolute;
	bottom: 32px;
	border-top: 1px solid #e8e8e8;
	box-sizing: border-box;
	line-height: 35px;
}
.project-search .search-info form input{
	vertical-align: middle;
}
.project-search .search-info form label{
	vertical-align: middle;
}
.project-search .search-info form input[type='submit']{
	width: 51px;
	height: 26px;
	border-radius: 3px;
	border: none;
	background: #388ac1;
	font-family: 黑体;
	font-size: 12px;
	color: #fff;
	float: right;
	margin: 5px 0 0 0;
}

/*charts*/
.charts{
	height: 357px;
}
.charts .calendar{
	width: 40%;
	height: 357px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	float: left;
	margin-right: 1%;
	box-sizing: border-box;
}
.calendar .calendar-box{
	height: 313px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 黑体;
	padding: 0 10%;
}
.calendar .calendar-box form{
	height: 40px;
	display: flex;
	align-items: center;
}
.calendar .calendar-box form select{
	height: 22px;
	color: #535353;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
	text-align: center;
	margin-right: 1.5%;
}
.calendar .calendar-box form select option{
	text-align: center;
}
.calendar .calendar-box form select:nth-of-type(1){
	flex: 1;
}
.calendar .calendar-box form select:nth-of-type(2){
	flex: 1.5;
}
.calendar .calendar-box form select:nth-of-type(3){
	flex: 1.3;
}
.calendar .calendar-box form input[type='submit']{
	flex: 1.2;
	height: 22px;
	font-size: 12px;
	font-family: 黑体;
	color: #535353;
	text-align: center;
	background: #fff;
	border: 1px solid #cdcecf;
	box-sizing: border-box;
}
.calendar .calendar-box .week{
	box-sizing: border-box;
	height: 31px;
	border-top: 1px solid #a9cfec;
	border-bottom: 1px solid #e1e1e2;
	text-align: center;
	line-height: 31px;
	margin-bottom: 8px;
}
.calendar .calendar-box .redcolor{
	color: red;
}
.calendar .calendar-box .week li{
	width: 14.28571%;
	height: 100%;
	float: left;
	color: #535353;
	font-size: 12px;
	font-family: 黑体;
}
.calendar .calendar-box table{
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-family: 黑体;
	border-spacing: 2px;
}
.calendar .calendar-box table tr{
	
}
.calendar .calendar-box table tr td{
	width: 14.28571%;
	height: 41px;
	box-sizing: border-box;
	color: #323232;
}
.calendar .calendar-box table .td-border{
	border: 1px solid #f5c62b;
}

.charts .rank-list{
	width: 59%;
	height: 357px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	float: left;
	box-sizing: border-box;
}
.rank-list .rank-box{
	height: 313px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 黑体;
	padding: 18px 7.5% 0 7.5%;
}
.rank-list .rank-box table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.rank-list .rank-box table tr{
	cursor: pointer;
}
.rank-list .rank-box table tr:hover{
	background: #f4f5f6;
}
.rank-list .rank-box table .tit th{
	border: 1px solid #c9caca;
	height: 26px;
	box-sizing: border-box;
	font-size: 13px;
	color: #231815;
	font-weight: normal;
}
.rank-list .rank-box table .tit th:nth-of-type(1){
	width: 14.66666%;
}
.rank-list .rank-box table .tit th:nth-of-type(2){
	width: 20%;
}
.rank-list .rank-box table .tit th:nth-of-type(3){
	padding-left: 7%;
	text-align: left;
}
.rank-list .rank-box table tr td{
	height: 25px;
	border: 1px solid #c9caca; 
	font-size: 12px;
	color: #323333;
	box-sizing: border-box;
}
.rank-list .rank-box table tr td:nth-of-type(3){
	padding-left: 7%;
	text-align: left;
}
.rank-list .rank-box table tr td span{
	vertical-align: middle;
}
.rank-list .rank-box table tr td progress{
	width: 65%;
	height: 7px;
	border: 1px solid #fff;
	vertical-align: middle;
	margin-left: 5%;
}
.rank-list .rank-box table tr td progress::-webkit-progress-value{
	background: #7fcbf0;
	border-radius: 3px;
}
.rank-list .rank-box table tr td progress::-webkit-progress-bar{
	background: #dcdcdc;
	border-radius: 3px;
}
.rank-list .rank-box table tr:nth-of-type(2) td progress::-webkit-progress-value{
	background: #ed6e52;
}
.rank-list .rank-box table tr:nth-of-type(3) td progress::-webkit-progress-value{
	background: #ef8150;
}
.rank-list .rank-box table tr:nth-of-type(4) td progress::-webkit-progress-value{
	background: #f19e4f;
}

